.NavigationItem {
    margin: 10px 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    // border: 1px solid white;
    a {
        color: #8F5C2C;
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        display: block;

        &:hover {
            background-color: #8F5C2C;
            border-bottom: 4px solid #40A4C8;
            color: white;
        }

        &:active {
            background-color: #CF8F2E;
            border-bottom: 4px solid #40A4C8;
            color: white;
        }


    }
}

.NavigationItem a.active {
    background-color:  #CF8F2E;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            height: 100%;
            padding: 16px 10px;
            border-bottom: 4px solid transparent;
            box-sizing: border-box;
            display: block;
        }
    }


}

